<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translational Service</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
      }
      .content {
        flex: 1;
      }
      .navbar {
        background-color: #34568b;
      }
      .btn-primary {
        background-color: #88b04b;
        border-color: #88b04b;
      }
      .form-label {
        color: #34568b;
      }
      .logo {
        max-width: 30%;
        height: auto;
        padding: 20px;
      }
      .footer {
        color: black;
        text-align: center;
        padding: 10px 0;
        width: 100%;
      }
      .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 20px;
      }
      .form-box {
        width: 100%;
        max-width: 600px;
        margin: 10px 0;
      }
      .btn-container {
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand mx-auto" href="#">Translator Service</a>
        <div class="navbar-text text-light">
          Translate text to desired language
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container form-container">
        <div class="form-box">
          <label for="text" class="form-label">Text to Translate</label>
          <textarea
            id="text"
            class="form-control"
            rows="10"
            placeholder="Enter text here..."
          ></textarea>
        </div>
        <div class="form-box">
          <label for="languages" class="form-label">Languages</label>
          <input
            id="languages"
            class="form-control"
            type="text"
            placeholder="e.g., english, german, russian"
          />
          <small class="form-text text-muted"
            >Write the languages you want to translate your text to, separated
            by commas.</small
          >
        </div>
        <div class="btn-container">
          <button class="btn btn-primary" onclick="submitTranslation()">
            Translate
          </button>
        </div>

        <div class="form-box mt-4" id="results" style="display: none">
          <h3>Translation Results</h3>
          <pre id="translationResults"></pre>
        </div>
        <div class="mt-4" id="progress-container">
          <h4 id="progress-text">Translating in progress...</h4>
          <div class="progress">
            <div
              id="progress-bar"
              class="progress-bar progress-bar-striped progress-bar-animation"
            ></div>
          </div>
        </div>
        <div class="form-box mt-4">
          <label for="search-id" class="form-label"
            >Check translation by ID</label
          >
          <input
            type="number"
            id="search-id"
            class="form-control"
            placeholder="Enter translation ID"
          />
          <button
            id="search-button"
            class="btn btn-info mt-2"
            onclick="checkTranslationStatus()"
          >
            check status
          </button>
          <button
            id="content-button"
            class="btn btn-secondary mt-2"
            onclick="checkTranslationContent()"
          >
            check content
          </button>
          <div class="mt-4" id="status-container" style="display: none">
            <h4>Translation Status</h4>
            <pre id="statusResult"></pre>
          </div>
          <div class="mt-4" id="content-container" style="display: none">
            <h4>Translation Content</h4>
            <pre id="contentResult"></pre>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="footer">&copy; 2024 Translator Service</div>
    <script>
      async function submitTranslation() {
        // get input values
        var text_for_translation = document.getElementById("text").value;
        var languages_chosen = document
          .getElementById("languages")
          .value.split(",")
          .map((lang) => lang.trim());
        //console.log(text_for_translation);
        // validation check
        if (
          !text_for_translation ||
          languages_chosen === 0 ||
          languages_chosen[0] === ""
        ) {
          alert("Please provide both text and target language");
          return;
        }
        // get progress bar elements
        const progressBar = document.getElementById("progress-bar");
        const progressText = document.getElementById("progress-text");
        // reset the progress bar
        progressBar.classList.remove("bg-success");
        progressBar.classList.add("bg-primary");
        progressBar.style.width = "0%";
        progressText.textContent = "Translation is in progress...";
        try {
          // send post request to start translation
          const response = await axios.post("http://localhost:8000/translate", {
            text: text_for_translation,
            languages: languages_chosen,
          });
          const taskId = response.data.taskId;
          alert(`Task ID: ${taskId}`);
          document.getElementById("progress-container").style.display = "block";
          document.getElementById("results").style.display = "none";
          document.getElementById("status-container").style.display = "none";
          document.getElementById("content-container").style.display = "none";
          let translationResult = null;
          let progress = 0;

          // polling for translation progress
          while (progress < 100) {
            // wait 1 second before checking again
            await new Promise((resolve) => setTimeout(resolve, 1000));
            // request translation status
            const resultResponse = await axios.get(
              `http://localhost:8000/translate/${taskId}`
            );
            // if translation is complete , set progress to 100%
            translationResult = resultResponse.data;
            if (translationResult === "completed") {
              progress = 100;
            } else {
              //else update translation to 50 %
              progress.style.width = `50%`;
            }
          }
          // final step : mark the progress bar as completed
          progressBar.classList.remove("bg-primary");
          progressBar.classList.add("bg-success");
          progressBar.style.width = `100%`;
          progressBar.textContent = "Translation Completed";
          // display the translated result
          document.getElementById("translationResults").textContent =
            JSON.stringify(translationResult.translation);
          document.getElementById("result").style.display = "block";
        } catch (error) {
          // handle the errors generated
          console.log(error);
          alert("an error occured");
        }
      }
      async function checkTranslationStatus() {
        const id = document.getElementById("search-id").value;
        try {
          const response = await axios.get(
            `http://localhost:8000/translate/${id}`
          );
          const translationResult = response.data;
          document.getElementById("translationResults").textContent =
            Json.stringify(translationResult.translations, null, 2);
          document.getElementById("results").style.display = "block";
          document.getElementById(
            "statusResult"
          ).textContent = `Status:${translationResult.status}`;
          document.getElementById("status-container").style.display = "block";
        } catch {
          console.log("error:", error);
          alert("an error occured");
        }
        return;
      }
      async function checkTranslationContent() {
        const id = document.getElementById("search-id").value;
        try {
          const response = await axios.get(
            `http://localhost:8000/translate/content/${id}`
          );
          const contentResult = response.data;
          document.getElementById("contentResult").textContent = JSON.stringify(
            contentResult,
            null,
            2
          );
          document.getElementById("content-container").style.display = "block";
        } catch {
          console.log("error:", error);
          alert("an error occured");
        }
        return;
      }
    </script>
  </body>
</html>
